* {
    box-sizing: border-box;
    font-family: Tahoma, Helvetica,  sans-serif;
  }
  
  #header-nav {
    background-color: #cccccc;
    border-radius: 0;
    border: 0;
  }

  #collapsable-nav li{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
  }

  .navbar-brand h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
  }

  .menu_items {
	position: relative;
	margin: 0.5em;
    background-color: #cccccc;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 1000px;
  }

  .menu_items h2 {
    padding-top:10px;
  }